<div class="max-size flex-box" style="align-items: center;">
  <div class="spacer"></div>
  <button (click)="connect()" mat-fab aria-label="Search FAB" color="primary" id="searchFAB">
    <mat-icon>search</mat-icon>
  </button>
  <div class="row" id="hostContent" style="display: none;">
    <div *ngFor="let host of peerList; index as i">
      <div [ngClass]="(i%3 === 1) ? col1ClassList : ((i%3 === 2) ? col2ClassList : col3ClassList)">
        <app-host [peerData]="host"></app-host>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</div>
