<div class="max-size flex-box" style="align-items: center;">
  <div class="spacer"></div>
    <div>
      <mat-icon [class]="(globals.isHandset()) ? 'mat-icon-handset' : 'mat-icon-desktop'">screen_share</mat-icon>
    </div>
  <div class="spacer"></div>
</div>
<div>
  <p style="color: white; text-align: center;"
     [style.margin-left]="globals.getSideMargin()"
     [style.margin-right]="globals.getSideMargin()">Easily send files and folders from one device to another.</p>
  <div class="max-width flex-box mat-icon-row" style="align-items: center; justify-content: center;">
    <button (click)="openRepo()" mat-icon-button aria-label="GitHub Repo">
      <i class="fab fa-github"></i>
    </button>
    <button (click)="openDep()" mat-icon-button aria-label="Dependencies">
      <mat-icon>code</mat-icon>
    </button>
    <button (click)="openInfo()" mat-icon-button aria-label="Info">
      <mat-icon>help_outline</mat-icon>
    </button>
  </div>
</div>
