@import '~@angular/material/theming';
@import 'variables';
@include mat-core();

$HotDrop-primary: (
  50: #ee9ea0,
  100: $HotDrop-lighter-color,
  200: #e67376,
  300: #e35d61,
  400: #df484b,
  500: $HotDrop-default-color,
  600: #cf2428,
  700: $HotDrop-darker-color,
  800: #a41d20,
  900: #8e191c,
  A100: #f2b4b6,
  A200: #f6cacb,
  A400: #f9e0e0,
  A700: #781517,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$HotDrop-light-accent: mat-palette($mat-red, A200, A100, A400);
$HotDrop-light-palette: mat-palette($HotDrop-primary, 500, 100, 700);
$HotDrop-light-theme: mat-light-theme($HotDrop-light-palette, $HotDrop-light-accent);
@include angular-material-theme($HotDrop-light-theme);


$HotDrop-dark-accent: mat-palette($mat-red, A400, A100, A700);
$HotDrop-dark-palette: mat-palette($HotDrop-primary, 500, 100, 700);
$HotDrop-dark-theme: mat-dark-theme($HotDrop-dark-palette, $HotDrop-dark-accent);

@media screen and (prefers-color-scheme: dark) {
  @include angular-material-theme($HotDrop-dark-theme);

  html, body {
    background-color: #000000;
  }
}
