<div class="max-width"
     [style.margin-top]="(isHandset$ | async) ? '56px' : '64px'"
     [style.height]="(isHandset$ | async) ? 'calc(100% - 56px)' : 'calc(100% - 64px)'">
  <!-- top container fixed -->
  <div class="max-width" style="position: fixed; top: 0; z-index: 15">
    <mat-toolbar class="mat-elevation-z0" color="primary">
      <div class="spacer"></div>
      <span><b>HotDrop</b></span>
      <div class="spacer"></div>
    </mat-toolbar>
    <div class="flex-box" [style.margin-right]="(isHandset$ | async) ? '16px' : '32px'">
      <div class="spacer"></div>
      <div id="settings">
        <button mat-icon-button aria-label="Settings" (click)="openSettings()">
          <mat-icon>tune</mat-icon>
        </button>
        <button (click)="openInfo()" mat-icon-button aria-label="Info">
          <mat-icon>info_outline</mat-icon>
        </button>
      </div>
      <div id="closer">
        <button mat-icon-button aria-label="Settings" (click)="openInfo()">
          <mat-icon style="color: white;">close</mat-icon>
        </button>
      </div>
    </div>
  </div>


  <!-- content container -->
  <div class="max-size">
    <div style="z-index: 10; align-items: center" class="max-size">
      <div class="reveal-container max-size">
        <div class="max-size">
          <ng-content></ng-content>
        </div>
        <input type="checkbox" id="show" />
        <div class="max-size reveal-info flex-box" style="align-items: center; justify-content: center;">
          <app-info-layout></app-info-layout>
        </div>
      </div>
    </div>
  </div>
</div>

