<app-actionbar style="position: absolute; z-index: 10;" class="max-size">
  <div class="max-size">
      <router-outlet></router-outlet>
  </div>
</app-actionbar>
<div style="position: absolute; z-index: 9; overflow: hidden;"
     class="max-width"
     [style.margin-top]="(isHandset$ | async) ? '56px' : '64px'"
     [style.height]="(isHandset$ | async) ? 'calc(100% - 56px)' : 'calc(100% - 64px)'">
  <svg xmlns="http://www.w3.org/2000/svg"
       viewBox="0 0 2835 2835"
       class="max-size" [style.transform]="(isHandset$ | async) ? 'scale(2)' : 'scale(1.5)'">
    <title>circles</title>
    <circle id="circle1" class="cls-1" cx="1417.5" cy="1417.5" r="65" />
    <circle id="circle2" class="cls-1" cx="1417.5" cy="1417.5" r="215" />
    <circle id="circle3" class="cls-1" cx="1417.5" cy="1417.5" r="365" />
    <circle id="circle4" class="cls-1" cx="1417.5" cy="1417.5" r="515" />
    <circle id="circle5" class="cls-1" cx="1417.5" cy="1417.5" r="665" />
    <circle id="circle6" class="cls-1" cx="1417.5" cy="1417.5" r="815" />
    <circle id="circle7" class="cls-1" cx="1417.5" cy="1417.5" r="965" />
    <circle id="circle8" class="cls-1" cx="1417.5" cy="1417.5" r="1115" />
    <circle id="circle9" class="cls-1" cx="1417.5" cy="1417.5" r="1265" />
    <circle id="circle10" class="cls-1" cx="1417.5" cy="1417.5" r="1415" />
    <circle id="circle11" class="cls-1" cx="1417.5" cy="1417.5" r="1565" />
    <circle id="circle12" class="cls-1" cx="1417.5" cy="1417.5" r="1715" />
    <circle id="circle13" class="cls-1" cx="1417.5" cy="1417.5" r="1865" />
    <circle id="circle14" class="cls-1" cx="1417.5" cy="1417.5" r="2015" />
    <circle id="circle15" class="cls-1" cx="1417.5" cy="1417.5" r="2165" />
    <circle id="circle16" class="cls-1" cx="1417.5" cy="1417.5" r="2315" />
    <circle id="circle17" class="cls-1" cx="1417.5" cy="1417.5" r="2465" />
    <circle id="circle18" class="cls-1" cx="1417.5" cy="1417.5" r="2615" />
    <circle id="circle19" class="cls-1" cx="1417.5" cy="1417.5" r="2765" />
    <circle id="circle20" class="cls-1" cx="1417.5" cy="1417.5" r="2915" />
  </svg>
</div>
